@import url('https://fonts.googleapis.com/css2?family=Borel&family=EB+Garamond&family=Inter:wght@300;400;500;600;700&family=Lobster+Two:wght@400;700&family=Lora:wght@700&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Rochester&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #0A192F;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0; 
    color: #4b4b4d; 
}

p {
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}


/*  NAVBAR SECTION  */ 

.navbar {
    padding: 10px 20px;
}

.bar {
    height: 2px;
    width: 80%;
    background-color: #01a2e2;
}

.middle-bar {
    width: 100%;
}

.bottom-bar {
    width: 65%;
}

.diagonal {
    background-color: #fff;
    width: 100%;
    transform: rotateY(0deg) rotate(135deg)
}

.diagonal-x {
    background-color: #fff;
    width: 100%;
    transform: rotateY(0deg) rotate(45deg)
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon-open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 35px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-size: cover;
}

.navbar-toggler-icon-close {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #01a2e2;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas-body ul.navbar-nav li.nav-item {
    margin-bottom: 15px;
}

.offcanvas-body ul.navbar-nav li.nav-item a.nav-link {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    color: #fff;
}

.offcanvas-body ul.navbar-nav li.nav-item a.nav-link:hover {
    font-weight: 600;
    text-decoration: none;
}

/*  END NAVBAR SECTION  */




/*  WELCOME SECTION  */

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    padding: 180px 20px 60px;
    position: relative;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.name {
    font-size: 6rem;
    margin-bottom: 0;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.skill {
    margin: 20px 0;
}

.skill p {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
}

.skill span {
    color: #01a2e2;
}

.profile-pic {
    width: 40%;
    margin: 50px auto 0;
    overflow: hidden;  
}

.profile img {
    max-width: 100%;
    background: transparent;
}

.image-hr {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(1, 162, 226, 1);
}


/*  END WELCOME SECTION  */





/* ABOUT ME SECTION */

.about-section {
    display: flex;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    color: #4b4b4d;
    padding: 140px 20px;
}

.about-container {
    display: flex;
    position: relative;
}

.section-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid rgba(1, 162, 226, 1);
    padding-right: 20px;
    color: #01a2e2;
}

.section-heading h2 {
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
}

.about-section-text {
    text-align: left;
    width: 90%;
    margin: 30px auto 0;
}

.side {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    bottom: 10px;
}

.tech-stack {
    text-align: left;
    border-left: 1px solid rgba(1, 162, 226, 1);
    padding-left: 20px;
}

.tech-stack h3 {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    line-height: 1;
    margin-top: 10px;
    color: #01a2e2;
    text-transform: uppercase;
}

.tech-stack ul {
    list-style-type: none;
    padding: 0px;
}

.for-large {
    display: block;
}

.for-small {
    display: none;
}


/* END ABOUT ME SECTION */


/*  PROJECTS SECTION  */

#projects {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin-top: 0px;
    text-align: center;
}

.section-heading-projects {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 0;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #01a2e2;
}

.projects-container {
    width: 95%;
    margin: 0 auto;
}

.project {
    padding: 20px;
    background-color: #292929;
    color: #fff;
    margin-bottom: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(85, 84, 84, 0.07) 0px 8px 8px, rgba(2, 2, 2, 0.07) 0px 16px 16px;
}

.projects-navigation {
    display: flex;
    align-items: center;
    height: 100%;
}

.categories {
    margin-left: -10px;
}

.projects-navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.category-links {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-links li {
    padding: 10px 0;
    
}

.category-links li a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #01a2e2;
    padding: 10px 10px;
    
}

.category-link.active {
    color: #01a2e2;
    font-weight: 600
}

.white-icon {
    color: white;
}

.icon-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

/*  END PROJECTS SECTION  */



/*  CONTACT SECTION  */

#contact {
    display: flex;
    flex-direction: column;
	justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 100px 20px;
    margin-top: 70px;
}

.contact-section-text {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30;
}

.contact-section-heading {
    display: flex;
    align-items: flex-start;
    text-align: center;
    border: 0
}

.socials {
    display: flex;
    flex-direction: row;
    text-align: left;
    color:#4b4b4d;
}

.socials a {
    margin: 0;
    padding: 0;
}

.socials .fab {
    font-size: 2.5rem;
    margin-top: 15px;
    padding-right: 10px;
}

form {
    width: 100%;
    margin: 0px auto 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    resize: vertical;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #555;
  }

.contact-links i {
    font-size: 2.rem;
}

.contact-links a {
    padding: 0px 5px;
    color: #fff;
	text-decoration: none;
}

.contact-links a:hover {
    color: #4682b4;
}

/*  END CONTACT SECTION  */



/*  FOOTER  */

footer {
    text-align: center;
    color: #fff;
    background-color: #01a2e2;
    padding: 30px 0 40px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}






@media (max-width: 991px) {

    /*WELCOME*/
    .name {
        font-size: 6rem;
    }
    
    .skill p {
        font-size: 1.5rem;
    }

    .for-small {
        display: block;
    }

    .for-large {
        display: none;
    }

    /*ABOUT*/
    .about-section {
        padding-top: 100px;
    }
    
    .section-heading {
        align-items: center;
        border: 0;
        padding: 0;
        margin-bottom: 0px;
    }
    
    .section-heading h2 {
        font-size: 3rem;
        text-align: left;
    }

    .about-section-text {
        text-align: left;
        width: 75%;
        margin-left: 0;
    }
    
    .side {
        right: 0;
        top: 0
    }

    .socials {
        position: absolute;
        bottom: 0;
        padding: 15px 0 13px;
        border: 0;
        border-top: 1px solid rgba(1, 162, 226, 1);
        border-bottom: 1px solid rgba(1, 162, 226, 1);
    }

    .socials .fab {
        margin-top: 0px;
    }

    /* PROJECTS */

    .projects-container {
        width: 100%;
    }

    .section-heading-projects {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 10px;
        border: 0;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #01a2e2;
    }

    
}

@media (max-width: 767px)  {

    .profile-pic {
        width: 70%;
    }

    .name {
        font-size: 3rem;
    }
    
    .skill p {
        font-size: 1.2rem;
    }

    .contact-section-text {
        width: 90%;
        margin: 0 auto
    }

    form {
        width: 90%;
    }
}

@media (max-width: 606px) {
    p {
        font-size: 0.9rem;
    }

    .name {
        font-size: 3rem;
    }
    
    .skill p {
        font-size: 1.1rem;
        width: 100%;
        margin: 0 auto;
    }

    /* ABOUT */

    .for-small-alt {
        display: none;
    }

    .about-section-text {
        text-align: left;
        width: 100%;
    }

    .about-section {
        padding-top: 60px;
    }

    
    .section-heading h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    /* FOOTER */

    .footer-content {
        flex-direction: column;
    }
    
    .footer-content p {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        border: 0;
    }

    /* CONTACT */
    #contact {
        padding: 40px 0px;        
    }

    form {
        margin: 0 auto;
    }
}




@media (max-width: 465px) {
    .profile-pic {
        width: 80%;
    }

    .name {
        font-size: 3rem;
    }
    
    .skill p {
        font-size: 1.1rem;
        width: 100%;
    }
}
